body{
    background-color: #f0f0f0;
}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
}

.login-div input{
    display: block;
    margin-bottom: 7px;}



.login-div input [name="email"] {
    border: solid 1 px blue;  }

.login-div input[type="password"] {
  border: solid 1 px red;  }

  input [class="form-control blue"]
  {border: solid 1px blue;}


  




  .login-div button :hover {
      box-shadow: 2px 2px 3px #c0c0c0;
  }

  .login-div input:focus{
      box-shadow: crimson;
      border: none;
  }




  ul li:last-child{
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: underline;
  }

  ul li:first-child{
    color: crimson;
}


ul li:nth-child(2){

    text-decoration: overline;
}